<div class="page">
    <app-header></app-header>
  
    <body>
        <div class="search">
            <div class="search-title">AsiMovies</div>
            <div class="search-bar">
              <input
                type="text"
                placeholder="Pesquisar Filme..."
                class="search-input"
                [(ngModel)]="searchQuery"
                (input)="filterMovies()"
              >
              <button type="button" class="search-button" (click)="filterMovies()">🔍</button>
            </div>
            
            <button type="button" class="add-button" (click)="toggleAddMovieModal()">Adicionar Filme</button>
        </div>

        <div class="rank-card">
            <div class="rank-info">
              <div class="rank-badge" [style.background-color]="rankColor">
                <i class="fas fa-trophy"></i>
              </div>
              <div class="rank-texts">
                <h3>Seu Nível: <span [style.color]="rankColor">{{ userRank }}</span></h3>
                <p>{{ nextLevelMessage }}</p>
              </div>
            </div>
            
            <div class="progress-container">
              <div class="progress-bar" [style.width.%]="rankProgress" [style.background-color]="rankColor"></div>
            </div>
            
            <div class="stats">
              <span>🎬 {{ movies.length }} Filmes assistidos</span>
            </div>
        </div>
  
        <div class="cards">
          <button 
            type="button" 
            class="scroll" 
            (click)="showPrevious()"
            [ngClass]="{ 'disabled': currentOffset <= 0 }">
            &lt;
          </button>
        
          <div *ngFor="let movie of displayedMovies" class="card group">
            <div class="absolute top-2 right-2 hidden group-hover:block z-20">
              <div class="relative">
                <button class="text-3xl text-gray-500 hover:text-gray-700 focus:outline-none">
                  &#x22EE; </button>


                <div class="absolute right-0 mt-2 w-32 bg-white border rounded shadow-lg hidden group-focus-within:block z-10">
                  <ul>
                    <li>
                        <button (click)="editMovie(movie)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 border-b border-gray-100">
                          <i class="fas fa-edit mr-2"></i> Editar
                        </button>
                    </li>
                    <li>
                      <button (click)="deleteMovie(movie.id)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                        <i class="fas fa-trash-alt mr-2"></i> Excluir
                      </button>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
        
            <div class="photo">
              <img *ngIf="movie.photo_path" [src]="movie.photo_path" alt="Card image">
              <img *ngIf="!movie.photo_path" src="../../../assets/imgs/terror.jpg" alt="">
            </div>
  
            <div class="card-content">
              <h2>{{ movie.name }}</h2>
              <p>{{ movie.analysis }}</p>
  
              <div class="rating">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                  <i class="fa-star" 
                    [class.fas]="star <= movie.rating" 
                    [class.far]="star > movie.rating"></i>
                </ng-container>
              </div>
            </div>
  
            <div class="footer">
              <img src="../../../assets/logos/asimoviesWhite.png" alt="logoAsiMovies">
            </div>
          </div>
        
          <button 
            type="button" 
            class="scroll" 
            (click)="showNext()"
            [ngClass]="{ 'disabled': currentOffset + limit >= movies.length }">
            &gt;
          </button>
        </div>
  
  
    </body>
    
    <app-footer></app-footer>
  
    <app-add-movie 
        *ngIf="showAddMovieModal" 
        [movieData]="selectedMovieForEdit"
        (closeModal)="toggleAddMovieModal()">
    </app-add-movie>
  </div>